.page-header {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
}

.page-header .top-bar-container {
    background: var(--color-primary-dark);
    width: 100%;
    height: 3.8rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
    margin-left: 2rem;

}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .top-bar-container p {
    font: 500 1.6rem Archivo;
    line-height: 17px;
    text-align: center;

    /* Texts In purple / Complemento */

    color: var(--color-text-in-primary);

}

.page-header .top-bar-container > img {
    height: 1.6rem;
    margin-right: 2rem;
}

.page-header .header-content {
    width: 90%;
    margin: 3.2rem auto;

    position: relative;
}

.page-header .header-content strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.page-header .header-content p {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-title-in-primary);
}

@media (min-width:700px) {

    .page-header {
        height: 340px;
    }

    .page-header .top-bar-container {
        width: 100%;
        height: 3.8rem;
        left: 0px;
        top: 0px;
    }

    .page-header .top-bar-container > img {
        height: 1.6rem;
        margin-right: 2rem;
    }

    .page-header .header-content {
        max-width: 740px;

        margin: 0 auto;

        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-header .header-content strong {
        max-width: 350px;
    }
}